@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #1D1D1D;
  --lightGrey: #D9D9D9;
  --darkGrey: #8c8c8c;
  --black: #282828;
}

html, body {
  height: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1D1D1D;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Inter;
  font-weight: 600;
}

.button {
  background-color: var(--lightGrey);
  border-color: var(--darkGrey);
  color: var(--black);
  border-radius: 10%;
  min-width: 5rem;
  min-height: 2rem;
}

.borderBackground {
  border-color: var(--darkGrey);
  background-color: var(--darkGrey);
  border-radius: 0.4rem;
  border-width: 0.4rem;
}